/*Page Header*/
.page-header-section{
  background: #ffffff;
  padding: 64px 80px 64px 80px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 88%;
  position: relative;
}
.page-header-container{
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px;
  padding: 40px 56px 40px 56px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: left;
  justify-content: center;
  flex: 1;
  position: relative;
  -webkit-text-stroke: 1px #c1272d
}
.page-sub-description{
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 24px;
  font-weight: 100;
  position: relative;
  align-self: stretch;
}

/*Volunteers Ovreview Section*/
.expectation-section{
    padding: 64px 0px 64px 81px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-shrink: 0;
    gap: 20px;
    justify-content: flex-end;
}
.expectation-l{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    position: relative;
}
.expectation-r{
    background: #fcf4f4;
    padding: 40px 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 50%;
    position: relative;
}
.expectation-r-title{
    color: #c1272d;
    text-align: left;
    font-family: "NotoSansJp-Medium", sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    position: relative;
}
.expect-text{
    color: #c1272d;
    text-align: left;
    font-family: "NotoSansJp-Regular", sans-serif;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    position: relative;
}
.contact-form{
    background-color: #fcf4f4;
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: start;
    width: 847px;
    min-width: 476px;
    margin: 0 auto;
}
.contact-form-heading{
    color: #c1272d;
    font-family: 'NotoSansJp-Medium', sans-serif;
    font-size: 40px;
    font-weight: medium;
}
.contact-form-content{
    color: #c1272d;
    font-family: 'NotoSansJp-Regular', sans-serif;
    font-size: 20px;
    line-height: 34px;
}

.location-section{
    padding: 64px 0px 64px 0px;
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
  #location-venue{
    width: 629px;
  }
.shrink-section{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    margin: 0 auto; /* Center horizontally */
    width: 100%; /* Full width */
  }
  .shrink-row {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  
  .shrink-show-always{
    padding: 40px 40px 40px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    border: none;
  }
  .shrink-title{
    color: #c1272d;
    text-align: left;
    font-family: "NotoSansJp-Medium", sans-serif;
    font-size: 32px;
    font-weight: 500;
    width: 1200px;
    position: relative;
    flex: 1;
  }
  .minus-sign{
    display:none;
    background: #c1272d;
    border-style: solid;
    border-color: #c1272d;
    border-width: 1px;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  
  .plus-sign{
    background: #fefce6;
    border-style: solid;
    border-color: #c1272d;
    border-width: 1px;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
  }
  .plus-minus-sign-holder{
    overflow: visible;
  }
  
  .shrink-content{
    display: none;
    padding-left: 40px;
  }
  
  .shrink-answer{
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    padding: 0px 0px 40px 0px;
    row-gap: 8px;
    flex-shrink: 0;
    position: relative;

  }
  .shrink-answer-text{
    color: #c1272d;
    text-align: left;
    font-family: "NotoSansJp-Regular", sans-serif;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    position: relative;
    width: 1000px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  