<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MASTURI 2025</title>
  <script>
    function loadMobileVersion() {
            if (window.innerWidth <= 700) {
                window.location.href = '../../../../public/views/mobile/en/commingSoon.html';
            }
        }
    window.addEventListener("resize", loadMobileVersion);
  </script>
  <link rel="icon" href="../../../../public/images/Logo-azul.png" type="image/png">
  <link rel="stylesheet" href="../../../../public/styles/desktop/recurringStyle.css">
  <link rel="stylesheet" href="../../../../public/styles/desktop/menu.css">
  <link rel="stylesheet" href="../../../../public/styles/desktop/footer.css">
  <link rel="stylesheet" href="../../../../public/styles/desktop/commingSoon.css">
</head>
<body>
  <div class="header-section">
    <div class="menu-items">
      <a href="../../../../index.html">
        <img class="logo" src="../../../../public/images/Logo.png" />
      </a>
      <div class="menu-section">
        <ul class="menu">
          <li class="activities">
            <a>Activities 2025
              <img src="../../../../public/images/icons/down-arrow.svg" alt="">
            </a>
            <div class="activitiesDropContent">
              <a href="../../../../public/views/desktop/en/commingSoon.html"> Program 2025
                <img src="../../../../public/images/icons/right-arrow.svg" alt="">
              </a>
              <div class="dropDivider"></div>
              <a href="../../../../public/views/desktop/en/commingSoon.html"> The Performers
                <img src="../../../../public/images/icons/right-arrow.svg" alt="">
              </a>
              <div class="dropDivider"></div>
              <a href="../../../../public/views/desktop/en/commingSoon.html"> The Booths
                <img src="../../../../public/images/icons/right-arrow.svg" alt="">
              </a>
              <div class="dropDivider"></div>
              <a href="../../../../public/views/desktop/en/commingSoon.html"> Kid's Activities
                <img src="../../../../public/images/icons/right-arrow.svg" alt="">
              </a>
              <div class="dropDivider"></div>
              <a href="../../../../public/views/desktop/en/commingSoon.html"> Food Experience
                <img src="../../../../public/images/icons/right-arrow.svg" alt="">
              </a>
            </div>
          </li>
          <li class="about">
            <a href="../../../../public/views/desktop/en/commingSoon.html">About MATSURI</a>
          </li>
          <li><a href="../../../../public/views/desktop/en/commingSoon.html"> Getting There</a></li>
          <li><a href="../../../../public/views/desktop/en/contact.html"> Contact</a></li>
          </li>
          <li class="supportUs">
            <a> Support Us
              <img src="../../../../public/images/icons/down-arrow.svg" alt="">
            </a>
            <div class="supportDropContent">
              <a href="../../../../public/views/desktop/en/volunteer.html"> Volunteering
                <img src="../../../../public/images/icons/right-arrow.svg" alt="">
              </a>
              <div class="dropDivider"></div>
              <a href="../../../../public/views/desktop/en/commingSoon.html"> Crowdfunding
                <img src="../../../../public/images/icons/right-arrow.svg" alt="">
              </a>
              <div class="dropDivider"></div>
              <a href="../../../../public/views/desktop/en/commingSoon.html"> Sponsors
                <img src="../../../../public/images/icons/right-arrow.svg" alt="">
              </a>
            </div>
          </li>
          <li class="supportUs" id="ticket-enhanced">
            <a
              href="https://entradium.com/es/events/festival-matsuri-barcelona-2025/sessions/21-06-2025-12-00-moll-de-la-fusta?fbclid=PAZXh0bgNhZW0CMTEAAaeVvUXKt_AFzm_dH2RPrRsgsZ8AEohvJxk3TXWqBkMB8Q2ULgurOON9yG9Pdg_aem_RIQ-NCzzesG2P1H8oLE_5g">Get
              Your Tickets</a>
          </li>
        </ul>
      </div>
      <div class="language-dropdown">
        <div class="langOption">
          <a class="lang"> ENGLISH
            <img src="../../../../public/images/icons/down-arrow.svg" alt="">
          </a>
          <div class="langDropContent">
            <a href="#">日本語
              <img src="../../../../public/images/icons/right-arrow.svg" alt="">
            </a>
            <div class="dropDivider"></div>
            <a href="../../../../public/views/desktop/es/index.html">CASTELLANO
              <img src="../../../../public/images/icons/right-arrow.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class=" divider"></div>
  <div class="page-header-section">
      <img src="../../../../public/images/Logo-azul.png" alt="">
      <div class="page-header-container">
          <h1>COMMING SOON</h1>
          <h3 class="page-sub-description">
             COMMING SOON
          </h3>
      </div>
      <img src="../../../../public/images/Logo-azul.png" alt="">
  </div>
  <div class="footer-section">
    <div class="footer-main">
      <div class="footer-logo-c1">
        <a href="../../../../index.html">
          <img class="logo" src="../../../../public/images/Logo.png" />
        </a>
        <a class="button-circular" href="https://entradium.com/es/events/festival-matsuri-barcelona-2025/sessions/21-06-2025-12-00-moll-de-la-fusta?fbclid=PAZXh0bgNhZW0CMTEAAaeVvUXKt_AFzm_dH2RPrRsgsZ8AEohvJxk3TXWqBkMB8Q2ULgurOON9yG9Pdg_aem_RIQ-NCzzesG2P1H8oLE_5g">
          <div class="button-content">
            <div class="button-text" style="font-weight: 800;">Buy Your Tickets Now</div>
            <img class="rightArrow" src="../../../../public/images/icons/right-arrow.svg" />
          </div>
        </a>
        <div class="sns-icon">
          <a href="https://www.instagram.com/matsuribarcelona/">
            <img src="../../../../public/images/icons/insta.svg" alt="">
          </a>
          <a href="https://www.youtube.com/@MATSURI-Barcelona/videos">
            <img src="../../../../public/images/icons/youtube.svg" alt="">
          </a>
          <a href="https://www.facebook.com/matsurijapaninbarcelona">
            <img src="../../../../public/images/icons/facebook.svg" alt="">
          </a>
        </div>
      </div>
      <div class="footer-columns">
        <div class="footer-content">
          <div class="big-paragraph">Activities 2025</div>
          <div class="sub-activities-frame">
            <a href="../../../../public/views/desktop/en/commingSoon.html" class="sub-activities-content">Program 2025</a>
            <a href="../../../../public/views/desktop/en/commingSoon.html" class="sub-activities-content">The Performers</a>
            <a href="../../../../public/views/desktop/en/commingSoon.html" class="sub-activities-content">Kids Activties</a>
            <a href="../../../../public/views/desktop/en/commingSoon.html" class="sub-activities-content">Booths</a>
            <a href="../../../../public/views/desktop/en/commingSoon.html" class="sub-activities-content">Food Experience</a>
            <a href="../../../../public/views/desktop/en/commingSoon.html" class="sub-activities-content">Artists</a>
          </div><br><br>
          <div class="sub-activities-frame">
            <a href="#" class="sub-activities-content">About</a>
          </div>
        </div>
      </div>
      <div class="footer-columns">
        <div class="footer-content">
          <div class="big-paragraph">Support Us</div>
          <div class="sub-activities-frame">
            <a href="../../../../public/views/desktop/en/volunteer.html"
              class="sub-activities-content">Volunteering</a>
            <a href="../../../../public/views/desktop/en/commingSoon.html" class="sub-activities-content">Crowdfunding</a>
            <a href="../../../../public/views/desktop/en/commingSoon.html" class="sub-activities-content">Sponsorships</a>
          </div>
          <br><a href="../../../../public/views/desktop/en/commingSoon.html" class="sub-activities-content">Getting there</a>
          <br><a href="../../../../public/views/desktop/en/contact.html" class="sub-activities-content">Contact Us</a>
          <br>
          <div class="sub-activities-frame">
            <a href="../../../../public/views/desktop/en/commingSoon.html" class="sub-activities-content">Privacy Policy</a>
            <a href="../../../../public/views/desktop/en/commingSoon.html" class="sub-activities-content">Cookie Policy</a>
          </div>
        </div>
      </div>
      <div class="footer-columns poster-column">
        <img class="mainDesign24" src="../../../../public/images/main-design.png" alt="">
      </div>
    </div>
    <div class="lower-footer">
      <div class="lower-footer-content">
        <img src="../../../../public/images/bcn-logo/bcn-blue1.png" alt="">
        <p class="name-holder">
          Designed by <span class="name">Elly</span>
        </p>
        <img src="../../../../public/images/bcn-logo/bcn-blue2.png" alt="">
        <h1> MATSURI 2025</h1>
        <img src="../../../../public/images/bcn-logo/bcn-blue3.png" alt="">
        <p class="name-holder">
          Built by <span class="name">Naoki & Austin </span>
        </p>
        <img src="../../../../public/images/bcn-logo/bcn-blue4.png" alt="">
      </div>
    </div>
  </div>
  <div class="divider"></div>
</body>

</html>>