<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MASTURI 2025</title>
    <script>
        function loadMobileVersion() {
            if (window.innerWidth <= 700) {
                window.location.href = '../../../../public/views/mobile/es/voluntario.html';
            }
        }
        window.addEventListener('resize', loadMobileVersion);
    </script>
    <script src="../../../../public/scripts/shrink.js"></script>
    <link rel="icon" href="../../../../public/images/Logo-azul.png" type="image/png">
    <link rel="stylesheet" href="../../../../public/styles/desktop/recurringStyle.css">
    <link rel="stylesheet" href="../../../../public/styles/desktop/menu.css">
    <link rel="stylesheet" href="../../../../public/styles/desktop/footer.css">
    <link rel="stylesheet" href="../../../../public/styles/desktop/volunteer.css">
    <link rel="stylesheet" href="../../../../public/styles/desktop/faq.css">
</head>

<body>
    <div class="header-section">
        <div class="menu-items">
            <a href="../../../../index.html">
                <img class="logo" src="../../../../public/images/Logo.png" />
            </a>
            <div class="menu-section">
                <ul class="menu">
                    <li class="activities">
                        <a>Actividades 2025
                            <img src="../../../../public/images/icons/down-arrow.svg" alt="">
                        </a>
                        <div class="activitiesDropContent">
                            <a href="../../../../public/views/desktop/es/proximamente.html"> Programa 2025
                                <img src="../../../../public/images/icons/right-arrow.svg" alt="">
                            </a>
                            <div class="dropDivider"></div>
                            <a href="../../../../public/views/desktop/es/proximamente.html"> Artistas
                                <img src="../../../../public/images/icons/right-arrow.svg" alt="">
                            </a>
                            <div class="dropDivider"></div>
                            <a href="../../../../public/views/desktop/es/proximamente.html"> Puestos
                                <img src="../../../../public/images/icons/right-arrow.svg" alt="">
                            </a>
                            <div class="dropDivider"></div>
                            <a href="../../../../public/views/desktop/es/proximamente.html"> Para Niños
                                <img src="../../../../public/images/icons/right-arrow.svg" alt="">
                            </a>
                            <div class="dropDivider"></div>
                            <a href="../../../../public/views/desktop/es/proximamente.html"> Gastronómia
                                <img src="../../../../public/images/icons/right-arrow.svg" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="about">
                        <a href="../../../../public/views/desktop/es/proximamente.html">Sobre MATSURI</a>
                    </li>
                    <li><a href="../../../../public/views/desktop/es/proximamente.html"> Cómo Llegar</a></li>
                    <li><a href="../../../../public/views/desktop/es/contacto.html"> Contactos</a></li>
                    </li>
                    <li class="supportUs">
                        <a> Apóyanos
                            <img src="../../../../public/images/icons/down-arrow.svg" alt="">
                        </a>
                        <div class="supportDropContent">
                            <a href="../../../../public/views/desktop/es/voluntario.html"> Voluntariado
                                <img src="../../../../public/images/icons/right-arrow.svg" alt="">
                            </a>
                            <div class="dropDivider"></div>
                            <a href="../../../../public/views/desktop/es/proximamente.html"> Crowdfunding
                                <img src="../../../../public/images/icons/right-arrow.svg" alt="">
                            </a>
                            <div class="dropDivider"></div>
                            <a href="../../../../public/views/desktop/es/proximamente.html"> Patricionadores
                                <img src="../../../../public/images/icons/right-arrow.svg" alt="">
                            </a>
                        </div>
                    </li>
                    <li class="supportUs" id="ticket-enhanced">
                        <a
                            href="https://entradium.com/es/events/festival-matsuri-barcelona-2025/sessions/21-06-2025-12-00-moll-de-la-fusta?fbclid=PAZXh0bgNhZW0CMTEAAaeVvUXKt_AFzm_dH2RPrRsgsZ8AEohvJxk3TXWqBkMB8Q2ULgurOON9yG9Pdg_aem_RIQ-NCzzesG2P1H8oLE_5g">
                            Consigue tu Entrada</a>
                    </li>
                </ul>
            </div>
            <div class="language-dropdown">
                <div class="langOption">
                    <a class="./index.html"> CASTELLANO
                        <img src="../../../../public/images/icons/down-arrow.svg" alt="">
                    </a>
                    <div class="langDropContent">
                        <a href="#">日本語
                            <img src="../../../../public/images/icons/right-arrow.svg" alt="">
                        </a>
                        <div class="dropDivider"></div>
                        <a href="../../../../index.html">ENGLISH
                            <img src="../../../../public/images/icons/right-arrow.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="page-header-section">
        <img src="../../../../public/images/Volunteers/pic-1.png" alt="">
        <img src="../../../../public/images/Logo-azul.png" alt="">
        <div class="page-header-container">
            <h1>VOLUNTARÍA CON NOSOTROS</h1>
            <h3 class="page-sub-description">
                ¡Siempre estamos buscando ayuda para el día del MATSURI!
            </h3>
        </div>
    </div>
    <div class="volunteers-overview-section">
        <div class="expectation-section">
            <div class="expectation-l">
                <h1>¿Qué hacen los voluntarios en el MATSURI?</h1>
                <a class="button-circular" href="../../../../public/views/desktop/es/proximamente.html">
                    <div class="button-content">
                        <div class="button-text">Más sobre el MATSURI</div>
                        <img class="rightArrow" src="../../../../public/images/icons/right-arrow.svg" />
                    </div>
                </a>
            </div>
            <div class="expectation-r">
                <h2>Voluntariado en el MATSURI</h2>
                <p>
                    El objetivo principal del MATSURI es proporcionar un "lugar" y una "experiencia" para que todos puedan intercambiar entendimientos culturales e inspirar a los niños con los valores tradicionales japoneses.
                    Con el crecimiento del MATSURI cada año, solicitamos ayuda a los voluntarios para llevar a cabo el evento con nosotros.
                </p>
                <p>
                    El día del festival, no solo los miembros de la ACJ, que trabajan gratuitamente, sino también muchos voluntarios nos ayudan cada año. En 2024, contamos con más de 140 voluntarios, incluyendo estudiantes de intercambio de Japón.
                </p>
            </div>
        </div>
    </div>
    <div class="register-section">
        <h2 style="text-align:center;"> Regístrate como voluntario a través de este formulario</h2>
        <div class="contact-form">
            <div class="contact-text">
                <p>
                    Para preguntas sobre el voluntariado, por favor escribe a
                    <a href="mailto:voluntarios@acjm.es" style="text-decoration:underline"
                        class="email">voluntarios@acjm.es</a>
                </p>
            </div>
            <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSc3HzJ2zRU8xzoYPTqykrntnpcrsu8iKpTK-nLytjYSCM32Cw/viewform?embedded=true"
                width="640" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </div>
    <div class="volunteer-faq">
        <div class="faq-section">
            <h2>Preguntas Frecuentes</h2>
            <div class="shrink-section">

                <div class="shrink-row">
                    <button class="shrink-show-always" onclick="toggleSection(this)">
                        <div class="shrink-title">¿Qué debo usar / traer el día de MATSURI como voluntaria?
                        </div>
                        <div class="plus-minus-sign-holder">
                            <img class="plus-sign" src="../../../../public/images/icons/plus-icon.svg" alt="+">
                            <img class="minus-sign" src="../../../../public/images/icons/minus-icon.svg" alt="-">
                        </div>
                    </button>
                    <div class="shrink-content">
                        <div class="shrink-answer">
                            <p class="shrink-answer-text">
                                Todos los voluntarios recibirán una camiseta de voluntario 2025 para usar durante el día del evento. Se espera que haga calor el día del MATSURI, por lo que recomendamos traer protector solar, sombrero y toallas. Además, recomendamos usar ropa y calzado cómodos, ya que es posible que deban caminar mucho por el recinto.
                                <b>
                                   Tenga en cuenta que Matsuri no se hace responsable de las pérdidas de sus pertenencias personales durante el evento.
                                </b>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="shrink-row">
                    <button class="shrink-show-always" onclick="toggleSection(this)">
                        <div class="shrink-title">¿Hay descansos durante mis turnos?</div>
                        <div class="plus-minus-sign-holder">
                            <img class="plus-sign" src="../../../../public/images/icons/plus-icon.svg" alt="+">
                            <img class="minus-sign" src="../../../../public/images/icons/minus-icon.svg" alt="-">
                        </div>
                    </button>
                    <div class="shrink-content">
                        <div class="shrink-answer">
                            <p class="shrink-answer-text">
                              Sí, los descansos contarán con indicaciones de los líderes de sección, que incluyen agua y refrigerios (onigiris/bolas de arroz).
                            </p>
                        </div>
                    </div>
                </div>
                <div class="shrink-row">
                    <button class="shrink-show-always" onclick="toggleSection(this)">
                        <div class="shrink-title">No hablo con fluidez el calatán, el español ni el japonés.</div>
                        <div class="plus-minus-sign-holder">
                            <img class="plus-sign" src="../../../../public/images/icons/plus-icon.svg" alt="+">
                            <img class="minus-sign" src="../../../../public/images/icons/minus-icon.svg" alt="-">
                        </div>
                    </button>
                    <div class="shrink-content">
                        <div class="shrink-answer">
                            <p class="shrink-answer-text">
                                ¡No se preocupen! Los asignaremos a los trabajos según su dominio del idioma. Esto significa que habrá otros voluntarios en el mismo stand para ayudarles con la comunicación.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="shrink-row">
                    <button class="shrink-show-always" onclick="toggleSection(this)">
                        <div class="shrink-title">Es mi primera vez como voluntario en MATSURI, ¿qué trabajos se esperan?</div>
                        <div class="plus-minus-sign-holder">
                            <img class="plus-sign" src="../../../../public/images/icons/plus-icon.svg" alt="+">
                            <img class="minus-sign" src="../../../../public/images/icons/minus-icon.svg" alt="-">
                        </div>
                    </button>
                    <div class="shrink-content">
                        <div class="shrink-answer">
                            <p class="shrink-answer-text">
                                Los voluntarios pueden ayudar con diversas tareas, como vender bebidas, interactuar con los clientes en el puesto infantil, asistir en la entrada, etc. Consulte el formulario superior para ver la sección de trabajos deseados.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="shrink-row">
                    <button class="shrink-show-always" onclick="toggleSection(this)">
                        <div class="shrink-title">¿Qué debo hacer el día del MATSURI?</div>
                        <div class="plus-minus-sign-holder">
                            <img class="plus-sign" src="../../../../public/images/icons/plus-icon.svg" alt="+">
                            <img class="minus-sign" src="../../../../public/images/icons/minus-icon.svg" alt="-">
                        </div>
                    </button>
                    <div class="shrink-content">
                        <div class="shrink-answer">
                            <p class="shrink-answer-text">
                                Se confirmarán más detalles más cerca del evento, pero antes de empezar a trabajar, acérquese al puesto de información para recibir su camiseta, etiqueta con su nombre y boleto para bebida.
                                La salida se realizará en cada puesto, así que consulte con el responsable de sección para obtener más información.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="shrink-row">
                    <button class="shrink-show-always" onclick="toggleSection(this)">
                        <div class="shrink-title">¿Qué hago si quiero modificar los turnos o cancelarlos?</div>
                        <div class="plus-minus-sign-holder">
                            <img class="plus-sign" src="../../../../public/images/icons/plus-icon.svg" alt="+">
                            <img class="minus-sign" src="../../../../public/images/icons/minus-icon.svg" alt="-">
                        </div>
                    </button>
                    <div class="shrink-content">
                        <div class="shrink-answer">
                            <p class="shrink-answer-text">
                                Por favor, póngase en contacto al correo electrónico:
                                <a href="mailto:voluntarios@acjm.es" class="email">voluntarios@acjm.es</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-section">
        <div class="footer-main">
            <div class="footer-logo-c1">
                <a href="../../../../index.html">
                    <img class="logo" src="../../../../public/images/Logo.png" />
                </a>
                <a class="button-circular"
                    href="https://entradium.com/es/events/festival-matsuri-barcelona-2025/sessions/21-06-2025-12-00-moll-de-la-fusta?fbclid=PAZXh0bgNhZW0CMTEAAaeVvUXKt_AFzm_dH2RPrRsgsZ8AEohvJxk3TXWqBkMB8Q2ULgurOON9yG9Pdg_aem_RIQ-NCzzesG2P1H8oLE_5g">
                    <div class="button-content">
                        <div class="button-text" style="font-weight: 800;">Consigue Tu Entrada Ahora</div>
                        <img class="rightArrow" src="../../../../public/images/icons/right-arrow.svg" />
                    </div>
                </a>
                <div class="sns-icon">
                    <a href="https://www.instagram.com/matsuribarcelona/">
                        <img src="../../../../public/images/icons/insta.svg" alt="">
                    </a>
                    <a href="https://www.youtube.com/@MATSURI-Barcelona/videos">
                        <img src="../../../../public/images/icons/youtube.svg" alt="">
                    </a>
                    <a href="https://www.facebook.com/matsurijapaninbarcelona">
                        <img src="../../../../public/images/icons/facebook.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="footer-columns">
                <div class="footer-content">
                    <div class="big-paragraph">Actividades 2025</div>
                    <div class="sub-activities-frame">
                        <a href="../../../../public/views/desktop/es/proximamente.html"
                            class="sub-activities-content">Programa 2025</a>
                        <a href="../../../../public/views/desktop/es/proximamente.html"
                            class="sub-activities-content">Las Artistas</a>
                        <a href="../../../../public/views/desktop/es/proximamente.html"
                            class="sub-activities-content">Puestos</a>
                        <a href="../../../../public/views/desktop/es/proximamente.html"
                            class="sub-activities-content">Para Niños</a>
                        <a href="../../../../public/views/desktop/es/proximamente.html"
                            class="sub-activities-content">Gastronómia</a>
                    </div><br><br>
                    <div class="sub-activities-frame">
                        <a href="../../../../public/views/desktop/es/proximamente.html"
                            class="sub-activities-content">Sobre MATSURI</a>
                    </div>
                </div>
            </div>
            <div class="footer-columns">
                <div class="footer-content">
                    <div class="big-paragraph">Apóyanos</div>
                    <div class="sub-activities-frame">
                        <a href="../../../../public/views/desktop/es/voluntario.html"
                            class="sub-activities-content">Voluntariado</a>
                        <a href="../../../../public/views/desktop/es/proximamente.html"
                            class="sub-activities-content">Crowdfunding</a>
                        <a href="../../../../public/views/desktop/es/proximamente.html"
                            class="sub-activities-content">Patricionadores</a>
                    </div>
                    <br><a href="../../../../public/views/desktop/es/proximamente.html"
                        class="sub-activities-content">Cómo Llegar</a>
                    <br><a href="../../../../public/views/desktop/en/contact.html"
                        class="sub-activities-content">Contactos</a>
                    <br>
                    <div class="sub-activities-frame">
                        <a href="../../../../public/views/desktop/es/proximamente.html"
                            class="sub-activities-content">Política de Privacidad</a>
                        <a href="../../../../public/views/desktop/es/proximamente.html"
                            class="sub-activities-content">Política de Cookies</a>
                    </div>
                </div>
            </div>
            <div class="footer-columns poster-column">
                <img class="mainDesign24" src="../../../../public/images/main-design.png" alt="">
            </div>
        </div>
        <div class="lower-footer">
            <div class="lower-footer-content">
                <img src="../../../../public/images/bcn-logo/bcn-blue1.png" alt="">
                <p class="name-holder">
                    Diseñado por <span class="name">Elly</span>
                </p>
                <img src="../../../../public/images/bcn-logo/bcn-blue2.png" alt="">
                <h1> MATSURI 2025</h1>
                <img src="../../../../public/images/bcn-logo/bcn-blue3.png" alt="">
                <p class="name-holder">
                    Construido Por <span class="name">Naoki Y Austin </span>
                </p>
                <img src="../../../../public/images/bcn-logo/bcn-blue4.png" alt="">
            </div>
        </div>
    </div>
    <div class="divider"></div>
</body>
</html>