/*Icons */
.sun-item {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: visible;
}

/*Formatting*/
.solid{
    color: #c1272d;
    font-family: "MavenPro-Bold", sans-serif;
    font-size: 63px;
    font-weight: 700;
}
.transparent{
    color: transparent;
    font-family: "MavenPro-Bold", sans-serif;
    font-size: 64px;
    font-weight: 700;
}

body{
    overflow-x: hidden;
}    
.round-button{
  background: #fefce6;
  border-radius: 40px;
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px;
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.round-button-text{
    gap: 8px;
    display: flex;
    align-items: center;
    color: #c1272d;
    text-align: left;
    font-family: "NotoSansJp-Medium", sans-serif;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
}
.header-1{
    color: #c1272d;
    text-align: left;
    font-family: "NotoSansJp-Bold", sans-serif;
    font-size: 64px;
    line-height: 72px;
    font-weight: 700;
    position: relativ
}
.normal-link-text{
    color: #c1272d;
    text-align: left;
    font-family: "NotoSansJp-Medium", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.divider {
    border-style: solid;
    border-color: #c1272d;
    border-width: 1px 0 0 0;
    align-self: stretch;
    flex-shrink: 0;
    height: 0px;
    position: relative;
    width: 100%;
    margin: 0px auto;
}
.divider-short {
    border-style: solid;
    border-color: #c1272d;
    border-width: 1px 0 0 0;
    align-self: stretch;
    flex-shrink: 0;
    height: 0px;
    position: relative;
    width: 80%;
    margin: 0px auto;
}
.location-icon{
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: row;
    margin-right: 20px;
  }
  
  .location-icon-background{
    background: #fefce6;
    border-radius: 50%;
    border-style: solid;
    border-color: #c1272d;
    border-width: 2px;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 24px;
    top: 3px;
  }
.expectation-section{
    padding: 64px 0px 64px 81px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-shrink: 0;
    gap: 20px;
    justify-content: flex-end;
  }
  .expectation-l{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 720px;
    position: relative;
  }
  .expectation-r{
    background: #fcf4f4;
    padding: 40px 48px 40px 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    gap: 48px;
    width: 624px;
    position: relative;
  }
  #expectation-header{
    width: 522px;
    height: 216px;
  }
  .expect-r1.expect-r2.expect-r3{
    display: flex;
    flex-direction: column;
    column-gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .expect-sub-header{
    margin-top: 12px;
    color: #c1272d;
    text-align: left;
    font-family: "NotoSansJp-Medium", sans-serif;
    font-size: 24px;
    font-weight: 500;
  }
  .expect-text{
    margin-top: 12px;
    color: #c1272d;
    text-align: left;
    font-family: "NotoSansJp-Regular", sans-serif;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    position: relative;
  }
