.header-section{
  background: #fcf4f4;
  display: flex;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  margin: 0 auto;
  width: 100%;
}
.menu-items {
  display: flex;
  padding: 10px 81px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo {
  flex-shrink: 0;
  width: 210px;
  position: relative;
  object-fit: cover;
}

.menu-section {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.menu a {
  color: #c1272d;
  text-align: center;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.mdi-chevron-down {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.supportUs {
  background: #f8d4d4;
  border-radius: 40px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  flex-direction: row;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.langOption {
  border-radius: 40px;
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px;
  flex-direction: row;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.lang{
  color: #c1272d;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.divider {
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  
  nsform-origin: 0 0;
  
  nsform: rotate(0deg) scale(1, 1);
  width: 100%;
  margin: 0px auto;
}
.menu-section{
  background: #fcf4f4;
  display: flex;
  flex-direction: row;
  gap: 12 px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}


.menu li{
  display: inline-block;
}
.menu li a, .language-dropdown a{
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-decoration: none;
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.menu li a:hover{
  border-radius: 40px;
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px;
}

.activities, .about, .langOption{
  position: relative;
}
.activities:hover .activitiesDropContent{
  display: block;
}
.supportUs:hover .supportDropContent{
  display: block;
}

.about:hover .aboutDropContent{
  display: block;
}
.langOption:hover .langDropContent{
  display: block;
}

.activitiesDropContent, .aboutDropContent, .supportDropContent{
  display: none;
  position: absolute;
  border-radius: 20px;
  background-color: #f8d4d4;
  padding: 32px 32px 40px 32px;
  gap: 24px;
  min-width: 250px;
  z-index: 1;
}
.langDropContent{
  display: none;
  position: absolute;
  border-radius: 20px;
  background-color: #f8d4d4;
  padding: 10px 10px 10px 10px;
  gap: 24px;
  min-width: 20px;
  z-index: 1;
}
.activitiesDropContent a, .aboutDropContent a, .supportDropContent a, .langDropContent a{
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.dropDivider{
  border-style: solid;
  border-color: rgba(193, 39, 45, 0.2);
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
}
