/*Page Header*/
.page-header-section{
    background: #ffffff;
    padding: 64px 80px 64px 80px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 88%;
    position: relative;
}
.page-header-container{
    border-style: solid;
    border-color: #c1272d;
    border-width: 1px;
    padding: 40px 56px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
    -webkit-text-stroke: 1px #c1272d
}
.page-sub-description{
    color: #c1272d;
    text-align: center;
    font-family: "NotoSansJp-Medium", sans-serif;
    font-size: 24px;
    font-weight: 100;
    position: relative;
    align-self: stretch;
}

.allSponosrs-section{
    padding: 64px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 80%;
    position: relative;
    margin: 0 auto;
}

.photos{
    width: 400px;
}

.sponsors-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.sponsor {
    padding:2px;
    width: 250px;
    border-radius: 8px;
}